<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI_kHQxpNgwdPd9Ipn0t4xSMIYc3khB7A</string>
	<key>GCM_SENDER_ID</key>
	<string>1055515917924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olof</string>
	<key>PROJECT_ID</key>
	<string>olofoofo-d428f</string>
	<key>STORAGE_BUCKET</key>
	<string>olofoofo-d428f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055515917924:ios:5e18522714e536bcdca971</string>
</dict>
</plist>